<div class="container">
  <div class="toolbar">
    <div class="toolbar-left">
      <h2 class="playwrite-regular">Pomelo</h2>
    </div>
    <div class="toolbar-right">
      <button *ngIf="!isPlaying" class="play-stop-button" (touchstart)="togglePlaying($event)"
      (click)="togglePlaying($event)"> <span class="material-symbols-outlined">
        play_arrow
        </span></button>
        <button *ngIf="isPlaying" class="play-stop-button" (touchstart)="togglePlaying($event)"
        (click)="togglePlaying($event)"> <span class="material-symbols-outlined">
          stop
          </span></button>
    </div>
  </div>
  <div class="content">
    <ng-container *ngIf="activeSection === 'A'">
      <div class="content-left seq1">
        <div class="slider-container">
          <input class="slider" id="blend" type="range" min="0" max="1" step="0.01" [(ngModel)]="seq1Value1" />
          <input class="slider" id="blend" type="range" min="0" max="1" step="0.01" [(ngModel)]="seq1Value2"/>
        </div>
        <div class="slider-container">
          <input class="slider" id="blend" type="range" min="0" max="1" step="0.01" [(ngModel)]="seq1Value3" />
          <input class="slider" id="blend" type="range" min="0" max="1" step="0.01" [(ngModel)]="seq1Value4"/>
        </div>
        <div class="slider-container">
          <input class="slider" id="blend" type="range" min="0" max="1" step="0.01" [(ngModel)]="seq1Value5" />
          <input class="slider" id="blend" type="range" min="0" max="1" step="0.01" [(ngModel)]="seq1Value6"/>
        </div>
        <div class="slider-container">
          <input class="slider" id="blend" type="range" min="0" max="1" step="0.01" [(ngModel)]="seq1Value7" />
          <input class="slider" id="blend" type="range" min="0" max="1" step="0.01" [(ngModel)]="seq1Value8"/>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="activeSection === 'B'">
      <div class="content-left seq2">
        <div class="slider-container">
          <input class="slider" id="blend" type="range" min="0" max="1" step="0.01" [(ngModel)]="seq2Value1" />
          <input class="slider" id="blend" type="range" min="0" max="1" step="0.01" [(ngModel)]="seq2Value2"/>
        </div>
        <div class="slider-container">
          <input class="slider" id="blend" type="range" min="0" max="1" step="0.01" [(ngModel)]="seq2Value3" />
          <input class="slider" id="blend" type="range" min="0" max="1" step="0.01" [(ngModel)]="seq2Value4"/>
        </div>
        <div class="slider-container">
          <input class="slider" id="blend" type="range" min="0" max="1" step="0.01" [(ngModel)]="seq2Value5" />
          <input class="slider" id="blend" type="range" min="0" max="1" step="0.01" [(ngModel)]="seq2Value6"/>
        </div>
        <div class="slider-container">
          <input class="slider" id="blend" type="range" min="0" max="1" step="0.01" [(ngModel)]="seq2Value7" />
          <input class="slider" id="blend" type="range" min="0" max="1" step="0.01" [(ngModel)]="seq2Value8"/>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="activeSection === 'C'">
      <div class="content-left seq3">
        <div class="slider-container">
          <input class="slider" id="blend" type="range" min="0" max="1" step="0.01" [(ngModel)]="seq3Value1" />
          <input class="slider" id="blend" type="range" min="0" max="1" step="0.01" [(ngModel)]="seq3Value2"/>
        </div>
        <div class="slider-container">
          <input class="slider" id="blend" type="range" min="0" max="1" step="0.01" [(ngModel)]="seq3Value3" />
          <input class="slider" id="blend" type="range" min="0" max="1" step="0.01" [(ngModel)]="seq3Value4"/>
        </div>
        <div class="slider-container">
          <input class="slider" id="blend" type="range" min="0" max="1" step="0.01" [(ngModel)]="seq3Value5" />
          <input class="slider" id="blend" type="range" min="0" max="1" step="0.01" [(ngModel)]="seq3Value6"/>
        </div>
        <div class="slider-container">
          <input class="slider" id="blend" type="range" min="0" max="1" step="0.01" [(ngModel)]="seq3Value7" />
          <input class="slider" id="blend" type="range" min="0" max="1" step="0.01" [(ngModel)]="seq3Value8"/>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="activeSection === 'D'">
      <div class="content-left seq4">
        <div class="slider-container">
          <input class="slider" id="blend" type="range" min="0" max="1" step="0.01" [(ngModel)]="seq4Value1" />
          <input class="slider" id="blend" type="range" min="0" max="1" step="0.01" [(ngModel)]="seq4Value2"/>
        </div>
        <div class="slider-container">
          <input class="slider" id="blend" type="range" min="0" max="1" step="0.01" [(ngModel)]="seq4Value3" />
          <input class="slider" id="blend" type="range" min="0" max="1" step="0.01" [(ngModel)]="seq4Value4"/>
        </div>
        <div class="slider-container">
          <input class="slider" id="blend" type="range" min="0" max="1" step="0.01" [(ngModel)]="seq4Value5" />
          <input class="slider" id="blend" type="range" min="0" max="1" step="0.01" [(ngModel)]="seq4Value6"/>
        </div>
        <div class="slider-container">
          <input class="slider" id="blend" type="range" min="0" max="1" step="0.01" [(ngModel)]="seq4Value7" />
          <input class="slider" id="blend" type="range" min="0" max="1" step="0.01" [(ngModel)]="seq4Value8"/>
        </div>
      </div>
    </ng-container>
    <div class="content-right">
      <div class="step-container" [ngClass]="{'selected-sequence': activeSection === 'A'}">
        <button class="control-menu-button" (touchstart)="toggleSection($event, 'A')"
        (click)="toggleSection($event, 'A')"> <span class="material-symbols-outlined">
            tune
          </span></button>
        <button class="step" *ngFor="let step of seq1; let i = index"
          [ngClass]="{'active-step': i === seq1CurrentStep, 'selected-stepA': step.selected}"
          (click)="toggleStep($event, step)" (touchstart)="toggleStep($event, step)"></button>
      </div>
      <div class="step-container" [ngClass]="{'selected-sequence': activeSection === 'B'}">
        <button class="control-menu-button" (touchstart)="toggleSection($event, 'B')"
        (click)="toggleSection($event, 'B')"> <span class="material-symbols-outlined">
          tune
        </span></button>
        <button class="step" *ngFor="let step of seq2; let i = index"
          [ngClass]="{'active-step': i === seq2CurrentStep, 'selected-stepB': step.selected}"
          (click)="toggleStep($event, step)" (touchstart)="toggleStep($event, step)"></button>
      </div>
      <div class="step-container" [ngClass]="{'selected-sequence': activeSection === 'C'}">
        <button class="control-menu-button" (touchstart)="toggleSection($event, 'C')"
        (click)="toggleSection($event, 'C')"> <span class="material-symbols-outlined">
            tune
          </span></button>
        <button class="step" *ngFor="let step of seq3; let i = index"
          [ngClass]="{'active-step': i === seq3CurrentStep, 'selected-stepC': step.selected}"
          (click)="toggleStep($event, step)" (touchstart)="toggleStep($event, step)"></button>
      </div>
      <div class="step-container" [ngClass]="{'selected-sequence': activeSection === 'D'}">
        <button class="control-menu-button" (touchstart)="toggleSection($event, 'D')"
        (click)="toggleSection($event, 'D')"> <span class="material-symbols-outlined">
            tune
          </span></button>
        <button class="step" *ngFor="let step of seq4; let i = index"
          [ngClass]="{'active-step': i === seq4CurrentStep, 'selected-stepD': step.selected}"
          (click)="toggleStep($event, step)" (touchstart)="toggleStep($event, step)"></button>
      </div>
    </div>
  </div>
</div>