<div class="container">
  <div class="toolbar">
    <div class="toolbar-left">
      <h2 class="finger-paint-regular">Pomelo Brunn</h2>
    </div>
    <div class="toolbar-right">
      <div class="tabs">
        <button class="icon-tab" [class.active]="activeSection === 'A'" (click)="toggleSection('A')"></button>
        <button class="icon-tab" [class.active]="activeSection === 'B'" (click)="toggleSection('B')"></button>
        <button class="icon-tab" [class.active]="activeSection === 'C'" (click)="toggleSection('C')"></button>
        <button class="icon-tab" [class.active]="activeSection === 'D'" (click)="toggleSection('D')"></button>
        <button class="icon-tab" [class.active]="activeSection === 'E'" (click)="toggleSection('E')"></button>
      </div>
    </div>
  </div>
  <div class="content">
    <div *ngIf="activeSection === 'A'">
      <h3 class="finger-paint-regular"> yup </h3>
    </div>
    <div *ngIf="activeSection === 'B'">
      <h3>B Section</h3>
    </div>
    <div *ngIf="activeSection === 'C'">
      <h3>C Section</h3>
    </div>
    <div *ngIf="activeSection === 'D'">
      <h3>D Section</h3>
    </div>
    <div *ngIf="activeSection === 'E'">
      <h3>E Section</h3>
    </div>
  </div>
</div>

<router-outlet></router-outlet>