<div class="container">
  <div class="toolbar">
    <div class="toolbar-left">
      <h2 class="playwrite-regular">Pomélo</h2>
    </div>
    <div class="toolbar-right">
      <button *ngIf="!isPlaying" class="play-stop-button" (touchstart)="togglePlaying($event)"
      (click)="togglePlaying($event)"> <span class="material-symbols-outlined">
        play_arrow
        </span></button>
        <button *ngIf="isPlaying" class="play-stop-button" (touchstart)="togglePlaying($event)"
        (click)="togglePlaying($event)"> <span class="material-symbols-outlined">
          stop
          </span></button>
    </div>
  </div>
  <div class="content">
    <ng-container *ngIf="activeSection === 'A'">
      <div class="content-left seq1">
        <div class="slider-container">
          <input class="slider" type="range" min="0" max="1" step="0.01" [(ngModel)]="state.sequencer1.value1" (change)="onFmSynthSettingsChange('attack', state.sequencer1.value1)" />
          <input class="slider" type="range" min="0" max="1" step="0.01" [(ngModel)]="state.sequencer1.value2"/>
        </div>
        <div class="slider-container">
          <input class="slider" type="range" min="0" max="1" step="0.01" [(ngModel)]="state.sequencer1.value3" />
          <input class="slider" type="range" min="0" max="1" step="0.01" [(ngModel)]="state.sequencer1.value4"/>
        </div>
        <div class="slider-container">
          <input class="slider" type="range" min="0" max="1" step="0.01" [(ngModel)]="state.sequencer1.value5" />
          <input class="slider" type="range" min="0" max="1" step="0.01" [(ngModel)]="state.sequencer1.value6"/>
        </div>
        <div class="slider-container">
          <input class="slider" type="range" min="0" max="1" step="0.01" [(ngModel)]="state.sequencer1.value7" />
          <input class="slider" type="range" min="0" max="1" step="0.01" [(ngModel)]="state.sequencer1.value8"/>
        </div>
        <div class="slider-container">
          <input class="slider" type="range" min="0" max="1" step="0.01" [(ngModel)]="state.sequencer1.value9" />
          <input class="slider" type="range" min="0" max="1" step="0.01" [(ngModel)]="state.sequencer1.value10"/>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="activeSection === 'B'">
      <div class="content-left seq2">
        <div class="slider-container">
          <input class="slider" type="range" min="0" max="1" step="0.01" [(ngModel)]="state.sequencer2.value1" />
          <input class="slider" type="range" min="0" max="1" step="0.01" [(ngModel)]="state.sequencer2.value2"/>
        </div>
        <div class="slider-container">
          <input class="slider" type="range" min="0" max="1" step="0.01" [(ngModel)]="state.sequencer2.value3" />
          <input class="slider" type="range" min="0" max="1" step="0.01" [(ngModel)]="state.sequencer2.value4"/>
        </div>
        <div class="slider-container">
          <input class="slider" type="range" min="0" max="1" step="0.01" [(ngModel)]="state.sequencer2.value5" />
          <input class="slider" type="range" min="0" max="1" step="0.01" [(ngModel)]="state.sequencer2.value6"/>
        </div>
        <div class="slider-container">
          <input class="slider" type="range" min="0" max="1" step="0.01" [(ngModel)]="state.sequencer2.value7" />
          <input class="slider" type="range" min="0" max="1" step="0.01" [(ngModel)]="state.sequencer2.value8"/>
        </div>
        <div class="slider-container">
          <input class="slider" type="range" min="0" max="1" step="0.01" [(ngModel)]="state.sequencer2.value9" />
          <input class="slider" type="range" min="0" max="1" step="0.01" [(ngModel)]="state.sequencer2.value10"/>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="activeSection === 'C'">
      <div class="content-left seq3">
        <div class="slider-container">
          <input class="slider" type="range" min="0" max="1" step="0.01" [(ngModel)]="state.sequencer3.value1" />
          <input class="slider" type="range" min="0" max="1" step="0.01" [(ngModel)]="state.sequencer3.value2"/>
        </div>
        <div class="slider-container">
          <input class="slider" type="range" min="0" max="1" step="0.01" [(ngModel)]="state.sequencer3.value3" />
          <input class="slider" type="range" min="0" max="1" step="0.01" [(ngModel)]="state.sequencer3.value4"/>
        </div>
        <div class="slider-container">
          <input class="slider" type="range" min="0" max="1" step="0.01" [(ngModel)]="state.sequencer3.value5" />
          <input class="slider" type="range" min="0" max="1" step="0.01" [(ngModel)]="state.sequencer3.value6"/>
        </div>
        <div class="slider-container">
          <input class="slider" type="range" min="0" max="1" step="0.01" [(ngModel)]="state.sequencer3.value7" />
          <input class="slider" type="range" min="0" max="1" step="0.01" [(ngModel)]="state.sequencer3.value8"/>
        </div>
        <div class="slider-container">
          <input class="slider" type="range" min="0" max="1" step="0.01" [(ngModel)]="state.sequencer3.value9" />
          <input class="slider" type="range" min="0" max="1" step="0.01" [(ngModel)]="state.sequencer3.value10"/>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="activeSection === 'D'">
      <div class="content-left seq4">
        <div class="slider-container">
          <input class="slider" type="range" min="0" max="1" step="0.01" [(ngModel)]="state.sequencer4.value1" />
          <input class="slider" type="range" min="0" max="1" step="0.01" [(ngModel)]="state.sequencer4.value2"/>
        </div>
        <div class="slider-container">
          <input class="slider" type="range" min="0" max="1" step="0.01" [(ngModel)]="state.sequencer4.value3" />
          <input class="slider" type="range" min="0" max="1" step="0.01" [(ngModel)]="state.sequencer4.value4"/>
        </div>
        <div class="slider-container">
          <input class="slider" type="range" min="0" max="1" step="0.01" [(ngModel)]="state.sequencer4.value5" />
          <input class="slider" type="range" min="0" max="1" step="0.01" [(ngModel)]="state.sequencer4.value6"/>
        </div>
        <div class="slider-container">
          <input class="slider" type="range" min="0" max="1" step="0.01" [(ngModel)]="state.sequencer4.value7" />
          <input class="slider" type="range" min="0" max="1" step="0.01" [(ngModel)]="state.sequencer4.value8"/>
        </div>
        <div class="slider-container">
          <input class="slider" type="range" min="0" max="1" step="0.01" [(ngModel)]="state.sequencer4.value9" />
          <input class="slider" type="range" min="0" max="1" step="0.01" [(ngModel)]="state.sequencer4.value10"/>
        </div>
      </div>
    </ng-container>
    <div class="content-right">
      <app-steps [sequencer]="state.sequencer1" [synth]="fmSynth.instrument" section="A" [activeSection]="activeSection" (controlsClicked)="toggleSection('A')"></app-steps>
      <app-steps [sequencer]="state.sequencer2" section="B" [activeSection]="activeSection" (controlsClicked)="toggleSection('B')"></app-steps>
      <app-steps [sequencer]="state.sequencer3" section="C" [activeSection]="activeSection" (controlsClicked)="toggleSection('C')"></app-steps>
      <app-steps [sequencer]="state.sequencer4" section="D" [activeSection]="activeSection" (controlsClicked)="toggleSection('D')"></app-steps>
    </div>
  </div>
</div>